.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms ease-out;
  transition-property: opacity, visibility;
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 72px 24px 24px;
  max-width: 408px;
  min-height: 582px;
  width: 100%;
  transform: translate(-50%, -50%);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  background: #e7e9fc;
  transition: 250ms ease-in-out;
  transition-property: background-color, color;
}
.btn-close:hover,
.btn-close:focus {
  background: #404bbf;
  color: #fff;
}
.close {
}
.close:hover,
.close:focus {
}
.title-modal {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.form-modal {
  border: none;
}
.form-modal-lable {
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-modal-wrapper {
  position: relative;
}
.form-modal-input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 38px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  transition: 250ms ease-in-out;
  transition-property: border-color;

  color: #434455;
}
.form-modal-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  padding: 8px 38px;
  width: 100%;
  height: 40px;
}
.form-modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: 250ms ease-in-out;
  transition-property: color;
  pointer-events: none;
}

.form-modal-input:focus + .form-modal-icon {
  color: #4d5ae5;
}
.form-modal-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  transition: 250ms ease-in-out;
  transition-property: border-color;
  color: #434455;
}
.form-modal-comment:focus {
  border: 1px solid #4d5ae5;
}
.form-modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form-modal-field.comment {
  margin-bottom: 16px;
}
.form-modal-field {
  margin-bottom: 8px;
}
.form-modal-policy {
  margin-bottom: 24px;
}
.checkbox:checked + .form-modal-lable > .form-modal-checkboox {
  background-color: #404bbf;
  border-radius: 2px;

  border: 1px solid #404bbf;
}
.checkbox:focus-visible + .form-modal-lable > .form-modal-checkboox {
  outline: auto;
  outline-offset: 3px;
}
.form-modal-checkboox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 0.88px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  transition-property: background-color, border-color;
}
.form-modal-checkboox-icon {
  color: #f4f4fd;
  opacity: 0;

  transition: 250ms ease-in-out;
  transition-property: opacity;
}
.checkbox:checked
  + .form-modal-lable
  > .form-modal-checkboox
  .form-modal-checkboox-icon {
  opacity: 1;
}
/*.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
}*/
.privacy-policy {
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
}
.form-modal-btn {
  display: flex;
  justify-content: center;
}
.btn-modal {
  border: none;

  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: 250ms ease-in-out;
  transition-property: background-color;
  cursor: pointer;
}
.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
}
