.portfolio {
}
.portfolio-title {
  margin: 0 auto 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms;
}
.portfolio-ill {
  display: block;
}
.portfolio-card {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-func {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto 8px;
}
.portfolio-prop {
  font-weight: 400;
  color: #434455;
}
.portfolio-trumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: 250ms ease-out;
  transition-property: transform;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background: #4d5ae5;
}
/* :hover - */
